/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  background-color: white;
  font-variation-settings: 'wght' var(--font-weight-card);
  font-family: var(--font-main), sans-serif;
  background-image: var(--body-gradient);
  min-block-size: 100dvb;
  background-attachment: fixed;
}

.header {
  align-items: center;
  border: 2px solid black;
  flex-direction: column;
  gap: 20px;
  margin: 100px auto;
  display: flex;
  inline-size: var(--section-width);
  block-size: var(--header-height);
  background-color: white;
  font-family: var(--font-accent);
  justify-content: center;
}

.header__logo {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
}

.header__title {
  text-transform: uppercase;
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
}

.main {
  justify-content: center;
  gap: 50px;
  display: grid;
}

.card {
  border: 2px solid black;
  background-color: white;
  inline-size: var(--section-width);
  overflow: hidden;
}

.card__title {
  margin: 5px 10px;
  font-size: 18px;
  font-variation-settings: 'wght' var(--font-weight-title);
}

.card__image-container {
  border: 2px solid black;
  overflow: hidden;
  position: relative;
  aspect-ratio: 1 / 1;
}

.card__logo {
  font-size: 14px;
  position: absolute;
  inset-block-start: 25px;
  opacity: 0.5;
  font-family: var(--font-accent);
  text-shadow: -1px 0 white, 1px 0 white, 0 -1px white, 0 1px white;
  inset-inline-end: var(--logo-position);
  mix-blend-mode: hard-light;
  z-index: 2;
}

.card__image {
  object-position: right;
  block-size: 100%;
  inline-size: 100%;
  object-fit: cover;
}

@supports ((text-stroke: 1px white) or (-webkit-text-stroke: 1px white)) {
  .card__logo {
    text-shadow: none;
    -webkit-text-stroke: 1px white;
    text-stroke: 1px white;
  }
}


.filter-first-image {
  filter: blur(6px) brightness(1.6) contrast(155%) saturate(2.1) sepia(0.6);
}

.filter-second-image {
  filter: saturate(1.6);
}

.filter-third-image {
  filter: contrast(190%);
}

.filter-fourth-image {
  filter: invert(1);
}

.filter-fifth-image {
  filter: grayscale(120%);
}

.filter-sixth-image {
  filter: brightness(3);
}

.filter-seventh-image {
  filter: sepia(0.55);
}

.filter-eighth-image {
  filter: contrast(135%) saturate(1.5);
}

.card__description {
  border-top: 2px solid black;
  line-height: 21px;
  padding: 26px 25.85px 0 25px;
  font-size: 18px;
}

.card__description p:first-child {
  margin-block-end: 27px;
}

.card__controls {
  padding: 25px;
  justify-content: flex-end;
  gap: 7px;
  display: flex;
}

.card__like-button {
  border: 2px solid black;
  block-size: 38px;
  cursor: pointer;
  font-size: 14px;
  background-color: white;
  align-items: center;
  font-family: var(--font-accent);
  inline-size: 130px;
  line-height: 0.9;
  display: flex;
  justify-content: center;
}

.card__icon-button {
  background-color: transparent;
  block-size: 39px;
  border: 2px solid transparent;
  cursor: pointer;
  display: flex;
  inline-size: 39px;
  justify-content: center;
  align-items: center;
  transition: border-color 0.3s ease;
}

.footer {
  justify-content: center;
  margin-block: 50px 103px;
  display: flex;
}

.save-button {
  border: 2px solid black;
  background-color: white;
  align-items: center;
  padding: 15px 20px 15px 20px;
  gap: 8px;
  display: flex;
  justify-content: center;
}

.text-button,
.button__text {
  line-height: 0.9;
  font-size: 14px;
  font-family: var(--font-accent);
}

.popup[open] {
  font-family: var(--font-accent);
  text-transform: uppercase;
  gap: 30px;
  border: 2px solid black;
  inline-size: var(--popup-width);
  overflow: hidden;
  padding: 26px 30px;
  font-size: 14px;
  margin: auto;
  line-height: 1.5;
  display: grid;
}

.popup[open]::backdrop {
  opacity: 0.75;
  background-color: black;
}

.popup__content {
  align-items: center;
  gap: 20px;
  display: flex;
}

.close-button {
  border: 2px solid black;
  background-color: white;
  align-items: center;
  inline-size: 100%;
  display: flex;
  justify-content: center;
}

.popup__button-container .text-button {
  padding-block: 12.5px;
  line-height: 0.9;
}

.popup__button-container .button__text {
  padding-block: 12.5px;
  line-height: 0.9;
}

@media (width <=375px) {

  .header,
  .card {
    inline-size: 100dvw;
  }

  .header {
    block-size: var(--mobile-header-height);
  }

  .card__logo {
    inset-block-start: 24px;
    inset-inline-end: 10px;
  }

  .card__title {
    margin: 4px 10px 6px 10px;
  }

  .card:nth-child(7) .card__description {
    padding: 26px 30px 0 25px;
  }

  .footer {
    margin-block: 52px 100px;
  }

  .save-button {
    flex-direction: column;
  }

  .save-icon {
    inline-size: 28px;
    block-size: 28px;
  }

  .popup[open] {
    inline-size: var(--mobile-popup-width);
    padding: 26px 42px;
  }
}

.card__like-button,
.save-button,
.close-button {
  transition: box-shadow 0.3s ease;
  position: relative;
}

.card__like-button::before,
.save-button::before,
.close-button::before {
  background-color: var(--accent-color);
  content: "";
  transform-origin: left;
  transition: transform 0.4s ease-in-out;
  position: absolute;
  transform: scaleX(0);
  inset: 0;
}

.card__like-button:hover::before,
.save-button:hover::before,
.close-button:hover::before {
  transform: scaleX(1);
}

.text-button,
.button__text,
.save-icon {
  mix-blend-mode: difference;
  position: relative;
  z-index: 2;
  color: #fff;
}

.save-icon {
  fill: #fff;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border-color: var(--accent-color);
}


.like-icon .sparks {
  opacity: 0;
}

.like-icon .heart {
  transform-origin: center;
}

.like-icon:hover .core {
  fill: var(--heart-contour-color);
  transition: fill 0.3s ease;
}

.like-icon:active .core,
.like-icon:active .main-body {
  fill: var(--heart-fill-color);
  transition: fill 0.3s ease;
}

.like-icon:hover .main-body {
  fill: var(--heart-contour-color);
  transition: fill 0.3s ease 0.1s;
}

.like-icon:not(.is-liked) .contour {
  transition: fill 0.1s linear;
}

.is-liked.like-icon .core,
.is-liked.like-icon .main-body {
  fill: var(--heart-fill-color);
  transition: fill 0.3s ease;
}

.is-liked.like-icon .contour {
  fill: var(--heart-fill-color);
  transition: fill 0.3s ease 0.1s;
}