/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
    --font-family-main: Inter;
    --font-family-accent: PressStart2P;
    --font-weight-card: 400;
    --font-weight-title: 700;
}