:root {
  --font-main: Inter;
  --font-accent: PressStart2P;
  --font-weight-card: 400;
  --font-weight-title: 700;
  --section-width: calc(700 / 1440 * 100vw);
  --header-height: calc(368 / 960 * 100vh);
  --logo-position: calc(25 / 696 * 100%);
  --popup-width: calc(353 / 1440 * 100vw);
  --mobile-header-height: calc(327 / 667 * 100dvh);
  --mobile-popup-width: calc(337 / 375 * 100vw);
  --accent-color: #000;
  --heart-contour-color: var(--accent-color);
  --heart-fill-color: #ff0000;
  --body-gradient:
    repeating-linear-gradient(90deg, #ffffff 0 2px, rgb(0 0 0 / 0) 2px 4px),
    repeating-linear-gradient(180deg, #ffffff 0 2px, rgb(0 0 0 / 0) 2px 4px),
    linear-gradient(180deg, #e7e7e7 0%, #e7e7e7 0.01%, #1a1a1a 100%);
}